


.adminHome {
  padding: 20px;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

.adminTitle {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}


.searchContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.searchInput {
  padding: 10px;
  font-size: 0.8rem;
  width: 300px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.searchButton {
  padding: 10px 20px;
  font-size: 0.8rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #0056b3;
}


.errorMessage {
  color: red;
  text-align: center;
  margin-top: 10px;
}


.resultsContainer {
  margin-top: 30px;
}

.userDetailsSection, .transactionHistorySection, .moneyTransfersSection {
  margin-bottom: 30px;
}

h2 {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
}


.dataTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.dataTable th, .dataTable td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

.dataTable th {
  background-color: black;
  color: white;
}

.dataTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.dataTable tr:hover {
  background-color: #f1f1f1;
}


p {
  text-align: center;
  color: #555;
  font-size: 1rem;
  margin-top: 10px;
}
