
.depositContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  margin-top: 30px;
  background-color: #f4f7fb;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.depositTitle {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}


.depositForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.inputField {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
}

.inputField:focus {
  border-color: black;

}


.depositButton {
  padding: 14px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}


.depositButton:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}


p {
  text-align: center;
  font-size: 1rem;
  color: #333;
  margin-top: 20px;
}

.depositDetails {
  margin-top: 40px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.depositDetails h2 {
  text-align: center;
  font-size: 1.5rem;
  color: #333;
}

.depositDetails p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
}


.depositTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
}

.depositTable th, .depositTable td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.depositTable th {
  background-color: black;
  color: white;
}

.depositTable td {
  font-size: 1rem;
}

.depositTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.depositTable tr:hover {
  background-color: #f1f1f1;
}


.confirmName{
  text-align: left;
  color: green;
}
