
.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}


.userLoginForm label {
  display: block;
  text-align: left;
  margin: 10px 40px 5px;
  font-size: 14px;
  color: black;
}

.loginContainer {
  max-width: 400px;
  width: 90%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}


.loginHeading {
  margin-bottom: 20px;
  font-size: 24px;
  color: black;
}


.loginInput {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}


.loginButton {
  width: 50%;
  padding: 10px;
  margin: 10px;
  background-color: black;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}




.signupLink {
  margin-top: 15px;
  font-size: 14px;
  font-weight: bold;
}

.signupLink a {
  color: black;
  text-decoration: none;
}



.errorMessage {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}



.signupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f4f6;
  font-family: Arial, sans-serif;
  margin: 0;
  color: black;
}


.signupHeading {
  margin-bottom: 20px;
  font-size: 24px;
  color: black;
  text-align: center;
}


.errorMessage {
  color: red;
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
}


.signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}


.formGroup {
  margin: 15px;
}

.formGroup1{
  margin-top: 15px;;
}


.formLabel {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
  color: black;
}


.formInput {
  width: 290px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}


.signupButton {
  width: 175px;
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}




.signupContainer h5{
  text-align: center;
  text-decoration: none;
}

.signupContainer Link{
  text-decoration: none;
  color: black;
}