.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}


.userLoginForm label {
  display: block;
  text-align: left;
  padding: 5px;
  font-size: 14px;
  color: black;
  margin: 3px;
  font-size: 1rem;
}

.loginContainer {
  max-width: 400px;
  width: 90%;
  background-color: #f4f7fb;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}


.loginHeading {
  margin-bottom: 20px;
  font-size: 24px;
  color: black;
}


.loginInput {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}


.loginButton {
  width: 50%;
  padding: 10px;
  margin: 10px;
  background-color: black;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}





.signupContainer {
  position: absolute;
  top: 15%;
  left: 35%;
  width: 100%;
  max-width: 400px;
  margin:auto;
  padding: 24px;
  background-color: #f4f7fb;
  border-radius: 5px;

}

h2 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}


.formLabel {
  font-size: 16px;
  padding: 2px;
  margin: 10px 0 5px;
  color: black;
}


.formInput {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #f9f9f9;
  color: black;
  box-sizing: border-box;
}



.errorMessage {
  color: #ff4d4d;
  font-size: 12px;
  margin-top: -12px;
}


.signupButton {
  padding: 12px;
  font-size: 18px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;

}



h5 {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}


h5 a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

h5 a:hover {
  text-decoration: underline;
}




.passwordInputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.loginInput {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.togglePasswordText {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 16px;
  color: black;
}

.passwordInputContainer {
  position: relative;
  width: 100%;
}

.passwordInputContainer input {
  width: 100%;
  padding-right: 60px;
}

.togglePassword {
  position: absolute;
  top:20%;
  right: 10px;
  color: black;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  text-transform: capitalize;
}

