
.userHomeContainer {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  color: #333;
}


.welcomeMessage {
  font-size: 28px;
  color: black;
  text-align: center;
  margin-bottom: 20px;
}


.userDetailsSection, .transactionHistorySection {
  margin-bottom: 30px;
}


.detailsTable, .transactionsTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.detailsTable th, .transactionsTable th {
  background-color: black;
  color: #fff;
  text-align: left;
  padding: 10px;
}

.detailsTable td, .transactionsTable td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}


.transactionsTable tr:nth-child(even), .detailsTable tr:nth-child(even) {
  background-color: #f9f9f9;
}


.errorMessage {
  color: red;
  font-size: 16px;
  text-align: center;
  margin: 20px 0;
}


.userDetailsSection h2, .transactionHistorySection h2 {
  color: black;
  font-size: 22px;
  margin-bottom: 15px;
}
