
.withdrawContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 30px;
  background-color: #f4f7fb;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.withdrawTitle {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}


.withdrawForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputField {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%;
}

.inputField:focus {
  outline-color: black;
  border-color: black;
}


.withdrawButton {
  padding: 10px;
  font-size: 1.1rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 93%;
}

.withdrawButton:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.withdrawButton:hover:not(:disabled) {
  background-color: black;
}


.message {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 20px;
}

.message.success {
  color: green;
}

.message.error {
  color: red;
}


.withdrawalDetails {
  margin-top: 30px;
}

.withdrawalTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
}

.withdrawalTable th, .withdrawalTable td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.withdrawalTable th {
  background-color: black;
  color: white;
}

.withdrawalTable td {
  font-size: 1rem;
}

.withdrawalTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.withdrawalTable tr:hover {
  background-color: #f1f1f1;
}


.accountDetails {
  font-size: 1rem;
  margin-top: 15px;
  padding: 10px;
  background-color: #f0f8ff;
  border-radius: 5px;
}

.accountDetails p {
  margin: 5px 0;
}


.confirmName{
  text-align: left;
  padding-top: 9px;
  color: green;
}