.header{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width:auto;
  height: 85px;
  background-color: black;
  color: white;
}


.loginForm{
  background-color: lightblue;
  /* color: whit; */
  width: 300px;
  aspect-ratio: 1;
  position: absolute;
  top: 30%;
  left: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:5px ;
}

.loginForm input{
  border: 1px solid black;
  outline: none;
  padding: 10px;
  margin: 9px;
  border-radius: 5px;
}